# Credenciais e arquivos sensíveis
config/secrets.json
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db